@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="row mt-3 p-2">
    <div class="col">
        <h1 class="h2">Dashboard</h1>
    </div>
</div>
<div class="row p-2">
    <div class="col-3">
        <div class="form-floating">
            @Html.DropDownList("tickerDd", new SelectList(Model.Tickers, "Id", "Name"), new { @class = "form-select" })
            <label>Stock</label>
        </div>
        
    </div>
    <div class="col-3">
        <div class="form-floating">
            <input class="form-control" type="text" name="startDate" value="@Model.StartDate">
            <label>Start Date</label>
        </div>
    </div>
    <div class="col-3">
        <div class="form-floating">
            <input class="form-control" type="text" name="endDate" value="@Model.EndDate">
            <label>End Date</label>
        </div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="openCb" name="openCb" checked>
            <label class="form-check-label" for="openCb">
                Open
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="closeCb" name="closeCb" checked>
            <label class="form-check-label" for="closeCb">
                Close
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col" hx-indicator="#chart-spinner">
        <div id="chart-spinner" class="dashboard-spinner spinner-border text-primary htmx-indicator" role="status"></div>
        <div id="stock-chart" class="chart" role="button"
             hx-get="/api/dashboard/stock"
             hx-include="[name='tickerDd'], [name='startDate'], [name='endDate'], [name='openCb'], [name='closeCb']"
             hx-trigger="load, click">
        </div>
    </div>
</div>

@section Scripts {
    <script src="/lib/htmx/htmx.min.js"></script>

    <script>
        $(function() {
            $('input[name="startDate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoclose: true
            }, function(start, end, label) {
                $('input[name="startDate"]').val(start.format('YYYY/MM/DD'))
                triggerDashboardUpdate();
            });

            $('input[name="endDate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoclose: true
            }, function(start, end, label) {
                $('input[name="endDate"]').val(start.format('YYYY/MM/DD'))
                triggerDashboardUpdate();
            });

            $('#tickerDd, [name="openCb"], [name="closeCb"]').change(function() {
                triggerDashboardUpdate();
            });

            function triggerDashboardUpdate() {
                htmx.trigger('#stock-chart', 'click');
            }
        });
    </script>
}